<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a id="btnTimeline" class="navbar-brand" [routerLink]="['/']">Twit Bolivia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a id="btnDestacados" class="btn btn-info" href="#">Destacados
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item float-right">
                    <a id="btnNewPost" class="btn btn-success" href="posts/nuevo">Nuevo Post</a>
                </li>
                <li #btnPerfil class="nav-item dropdown float-right d-none">
                    <a #btnEmail class="nav-link dropdown-toggle" href="#"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.email}}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="users/{{user.uid}}" (click)="getUser(user.uid)">Mi perfil</a>
                        <a class="dropdown-item" href="#">Mis Posts</a>
                        <a class="dropdown-item" href="#">Mis Favoritos</a>
                        <a class="dropdown-item" href="#" #btnLogout (click)="authService.logout()">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">


        <div class="col-md-12">

            <router-outlet></router-outlet>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>