<div class="row">
    <div class="col-md-8">
        <div class="card-body">
            <ul *ngFor="let post of posts | async">
                <li class="list-inline">
                    <div class="card">
                        <div class="card-header">
                            {{post.email}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="posts/{{post.data.id}}" (click)="getPost(post.data.id)">
                                    <strong>{{ post.data.titulo}}</strong>
                                </a>
                            </h5>
                            <div class="card-text">
                                {{post.data.contenido}}
                                <br>
                                <a href="#" class="">Leer Mas</a>
                                <br>
                                <div class="card-body">
                                    <ul *ngFor="let comment of post.data.comentarios">
                                        <li class="list-inline">
                                            {{comment}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--<button class="btn btn-primary" (click)="showBoxComentar()">Comentar</button>-->
                            <div class="form-group" #boxComment>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Deja tu comentario</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]="commentTitle" name="titulo"
                                           placeholder="Introduce un titulo">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                              [(ngModel)]="commentContent"
                                              name="titulo" placeholder="Introduce un cimentario"></textarea>
                                </div>
                                <input class="btn btn-primary" type="submit" value="Agrega un comentario"
                                       (click)="addComment(post.id, userId, userEmail)">
                                <button class="btn btn-primary" (click)="doFollowing(userId,userEmail,userName)">Seguir</button>
                                <!--<button class="btn btn-primary" (click)="hideBoxComentar()">ocultar</button>-->
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
                </div>
            </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">Web Design</a>
                            </li>
                            <li>
                                <a href="#">HTML</a>
                            </li>
                            <li>
                                <a href="#">Freebies</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">JavaScript</a>
                            </li>
                            <li>
                                <a href="#">CSS</a>
                            </li>
                            <li>
                                <a href="#">Tutorials</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
                You can put anything you want inside of these side widgets. They are easy to use, and feature the new
                Bootstrap 4 card containers!
            </div>
        </div>
    </div>
</div>
